body {
    background-color: rgba(70, 174, 206, 0.984);
}
img {
    width: 320px;
    height: auto;
}
.edward {
    text-align: center;
}
.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
